{{ define "main" }}

{{ if (eq .Kind "section") }}
<h1 class="list-title">{{ .Title | default (delimit (last 1 (split (strings.TrimSuffix "/_index.md" .Path) "/")) " ") }}</h1>
{{ end }}
{{ if (eq .Kind "term") }}
<h1 class="list-title">{{ .Title | default .Data.Term | default (delimit (last 1 (split (strings.TrimSuffix "/_index.md" .Path) "/")) " ") }}</h1>
{{ end }}

<div class="list">
    {{ range (.Pages.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2>

    {{ range .Pages }}
    <article class="list-item">
        <a href="{{ .RelPermalink }}" class="list-item-title">{{ .Title }}</a>
        <span class="list-item-date">
            {{ replace (.Date.Format "2006-01-02") "-" " / " }}
        </span>
    </article>
    {{ end }}
    {{ end }}
</div>


{{ end }}